/*MARGIN: determina el espacio alrededor de un elemento fuera de sus bordes definidos*/
/*PADDING: espacio entre el contenido de un elemento y el borde*/
:root {
    --color-Celeste: #135D87;
    --color-gris-claro:#E6E6E6;
}
body{
    margin: 0;
    padding: 0;
    background-color: --color-gris-claro;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
}

header{
    display: flex;
    background-color: var(--color-Celeste);
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* width: 100%; */

}

header a img{
    width: 5rem;
}
nav{
    user-select: none;
    display: flex;
    font-size: 1rem;
    /* width: 100%;   */  
}
.nav__list{
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.btn-toggle{
    background-color: var(--color-Celeste);
}
.list__item, .dropdown__item{
    list-style: none;
    margin-bottom: 0;
}
.list__item a, .dropdown__item a, .list__item label{
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.list__item{
    margin: 2px;
    align-content: center;
    margin-bottom: 0;
    padding: 0.5rem;
}

.item__dropdown{
    display: none;
    position: absolute;   
    min-width: 18rem;   
    z-index: 1;
    border-radius: 0 0 10px 10px;
    background-color:rgba(19, 93, 135, .8);
    min-width: 180px;   
    padding: 20px 15px;
}

h1{
    font-size: 2.5rem;
    color: var(--color-Celeste);
    font-weight: 600;
    text-align:center;
    border-top: 1px solid #aaa;
    padding-top: .5rem;
}
.descripcion-principal p{
    font-size: 1.rem;
    font-weight: 400;
    text-align: center;
}
.contenedor__tarjeta{
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 50% 50%;
    grid-template-rows:auto;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0px -2px 36px -16px var(--color-Celeste);
}
.tarjeta--dos{
    margin-top: 3rem;
}
.item--texto{
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 0.5rem;
    margin: auto;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.item--imagen{
    grid-column: 2/3;
    grid-row: 1/4; 
    margin: auto;
    width: 100%;
    text-align: right;
    /* padding: .5rem; */

}

.item--imagen img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin: auto;
    /* padding: .5rem; */
}

.item--textoDos{
    grid-column: 2/3;
    grid-row: 1/4; 
    padding: 0.5rem;
    margin: auto;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.item--imagenDos{
    grid-column: 1/2;
    grid-row: 1/4;
    margin: auto;
    width: 100%;
    text-align: left;
}

.item--imagenDos img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    margin: auto;
}

.tarjeta--filosofia-calidad{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0px -2px 36px -16px var(--color-Celeste);
    align-items: center;
}
.tarjeta--filosofia-calidad h2, .tarjeta--filosofia-calidad p{
    display: block;
    width: 100%;
    margin: .5rem;
}
.tarjeta--filosofia__item{
    float: none;
    width: 10rem;
    box-sizing: border-box;
    font-size: 1rem;
}
.tarjeta--filosofia__item img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.tarjeta--filosofia__item figcaption{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
}

.galeria__productos{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
    align-items:baseline;
   /*  padding: 0.5rem; */
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0px -2px 36px -16px var(--color-Celeste);
}

.productos__item{
    width: 20rem;
    height: auto;
    box-sizing: border-box;
    margin: 1rem;
}
.productos__item img{
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.productos__item figcaption{
    text-align:center;
    align-content: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    background-color: var(--color-Celeste);
    color: var(--color-gris-claro);
    height: 2.5rem;
    border-radius: 0px 5px 0px 5px;
}

.contenedor-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-Celeste);
    width: 100%;
}
.contenedor-footer__columna {
    flex: 1; /* Cada columna ocupa 1/3 del ancho disponible */
    padding: 0.5rem 0.5rem;
}
.contenedor-footer__columna h3{
    font-size: 1.2rem;
    color: var(--color-gris-claro);
}
.contenedor-footer__columna p, .contenedor-footer__columna a{
    font-size: 1rem;
    color: var(--color-gris-claro);
}

.contenedor-footer__columna img {
    object-fit:cover;
    width: 2rem;
    margin-right: 1rem;
}
.contenedor-footer .contenedor-footer__columna .columna__email{
    display: block;
    padding-bottom: 1rem;
    text-decoration: none;
}
.columna__parrafo{
    display: block;
    width: 100%;
    font-size: .5rem;
    color: var(--color-gris-claro);
    margin-top: 1rem;
    text-align: center;
}

/*MEDIAS QUERYS*/

/*Media Query Small*/
@media screen and (max-width: 427px){
    .nav{
        display: none;
    }

    .nav__list{
        display: block;
    }

    .list__item a,.dropdown__item a{
        text-align: left;
    }
    .list__item{
        padding: 0;
    }
    .item__dropdown{
        display: none;
        position: relative;
    }

    header a{
        display: inline-block;
        width: 80px;
    }

    .btn-toggle{
        display: inline;
        background-color: var(--color-Celeste);
        margin: 0.5rem;
        border: none;
        cursor: pointer;
        
    }

    input:checked ~ nav {
        display:block;
        width: 100%;
        flex-wrap: wrap;
    }

    input:checked ~ ul{
        display:block;
        width: 100%;
        flex-wrap: wrap;
    }

    .contenedor__tarjeta{
        display: flex;
        flex-direction: column;

    }

    .item--textoDos{
        order: 1;
    }
    
    .item--imagenDos{
        order: 2;
    }

    .contenedor-footer {
        flex-direction: column;
    }
    
    .contenedor-footer__columna {
        flex: 1; /* Cada columna ocupa todo el ancho disponible */
        border-bottom: 1px solid var(--color-gris-claro);
        padding-bottom: 1rem 1rem;
        text-align: center;
    }
    .columna__parrafo{
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
}
/*Media Query Medium*/
@media screen and (min-width: 427px) and (max-width: 767px){
    .btn-toggle{
        display: none;
    }
    .nav{
        /* display: block; */
        /* width: 100%; */
    }
    
    .list__item:hover > .item__dropdown{
        display: block;
    }
    .item__dropdown li a{
        color: white !important;
        opacity: 1;
    }
    .contenedor__tarjeta{
        display: flex;
        flex-direction: column;

    }
    .item--textoDos{
        order: 1;
    }
    
    .item--imagenDos{
        order: 2;
    }
    .contenedor-footer {
        flex-direction: column;
    }
    
    .contenedor-footer__columna {
        border-bottom: 1px solid var(--color-gris-claro);
        padding-bottom: 1rem 1rem;
        text-align: center;
    }
    .columna__parrafo{
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }
}

/*Media Query Large*/
@media screen and (min-width: 767px){
    header{
        background-color: var(--color-Celeste);
    }
    .nav{
        
    }
    .btn-toggle{
        display: none;
    }
    
    .list__item:hover > .item__dropdown{
        display: block;
    }

}


