body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/*LAYOUT*/
header {
  display: flex;
  background-color: #135D87;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}
header a img {
  width: 5rem;
}
header .btn-toggle {
  display: none;
  background-color: #135D87;
}
header nav {
  user-select: none;
  display: flex;
  /* font-size: 1rem; */
}
header nav .nav__list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
header nav .nav__list .list__item, header nav .nav__list .list__item .item__dropdown .dropdown__item {
  list-style: none;
  margin-bottom: 0;
  margin: 2px;
  align-content: center;
  margin-bottom: 0;
  padding: 0.5rem;
}
header nav .nav__list .list__item a, header nav .nav__list .list__item .item__dropdown .dropdown__item a {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-weight: 400; */
  color: white;
  text-decoration: none;
}
header nav .nav__list .list__item label, header nav .nav__list .list__item .contacto__formulario textarea, .contacto__formulario header nav .nav__list .list__item textarea, header nav .nav__list .list__item .contacto__formulario input, .contacto__formulario header nav .nav__list .list__item input, header nav .nav__list .list__item .item__dropdown .dropdown__item label, header nav .nav__list .list__item .item__dropdown .dropdown__item .contacto__formulario textarea, .contacto__formulario header nav .nav__list .list__item .item__dropdown .dropdown__item textarea, header nav .nav__list .list__item .item__dropdown .dropdown__item .contacto__formulario input, .contacto__formulario header nav .nav__list .list__item .item__dropdown .dropdown__item input {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-weight: 400; */
  color: white;
  text-decoration: none;
}
header nav .nav__list .list__item .item__dropdown, header nav .nav__list .list__item .item__dropdown .dropdown__item .item__dropdown {
  display: none;
  position: absolute;
  min-width: 18rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  background-color: rgba(19, 93, 135, 0.8);
  min-width: 180px;
  padding: 20px 15px;
}
header nav .nav__list .list__item .item__dropdown .dropdown__item a {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-weight: 400; */
  color: white;
  text-decoration: none;
}
header nav .nav__list .list__item:hover .item__dropdown, header nav .nav__list .list__item .item__dropdown .dropdown__item:hover .item__dropdown {
  display: block;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  /* font-size: 2.5rem; */
  color: #135D87;
  /* font-weight: 600; */
  text-align: center;
  border-top: 1px solid #aaa;
  padding-top: 0.5rem;
}

.descripcion-principal p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /*  font-size: 1rem;
   font-weight: 400; */
  text-align: center;
  width: 80%;
  margin: auto;
}

.contenedor__tarjeta {
  display: grid;
  margin: 1rem auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0px -2px 36px -16px #135D87;
  /*  box-shadow: 0px -2px 36px -16px $color-celeste; */
  margin-bottom: 3rem;
}

.galeria__productos {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: center;
  align-items: baseline;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0px -2px 36px -16px #135D87;
  /*  box-shadow: 0px -2px 36px -16px $color-celeste; */
}

.contenedor__contacto {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0px -2px 36px -16px #135D87;
  /* box-shadow: 0px -2px 36px -16px $color-celeste; */
}

.contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #135D87;
  width: 100%;
}
.contenedor-footer .contenedor-footer__columna {
  flex: 1; /* Cada columna ocupa 1/3 del ancho disponible */
  padding: 0.5rem 0.5rem;
}
.contenedor-footer .contenedor-footer__columna h3 {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  /* font-size: 1.2rem; */
  color: #E6E6E6;
}
.contenedor-footer .contenedor-footer__columna p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-size: 1rem; */
  color: #E6E6E6;
}
.contenedor-footer .contenedor-footer__columna a {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-size: 1rem; */
  color: #E6E6E6;
}
.contenedor-footer .contenedor-footer__columna a img {
  object-fit: cover;
  width: 2rem;
  margin-right: 1rem;
}
.contenedor-footer .contenedor-footer__columna .columna__email {
  display: block;
  padding-bottom: 1rem;
  text-decoration: none;
}
.contenedor-footer .columna__parrafo {
  display: block;
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #E6E6E6;
  margin-top: 1rem;
  text-align: center;
}

/*COMPONENTS*/
/* @import "../utilities/mixins"; */
.item--texto {
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 0.5rem;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  text-align: justify;
}

.item--imagen {
  grid-column: 2/3;
  grid-row: 1/4;
  margin: auto;
  width: 100%;
  text-align: right;
}
.item--imagen img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  /*  width: 100%;
   object-fit:cover;
   border-radius: 10px;
   margin: auto; */
}

/* @import "../utilities/mixins"; */
.item--textoDos {
  grid-column: 2/3;
  grid-row: 1/4;
  padding: 0.5rem;
  margin: auto;
  text-align: justify;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.item--imagenDos {
  grid-column: 1/2;
  grid-row: 1/4;
  margin: auto;
  width: 100%;
  text-align: left;
}
.item--imagenDos img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  /* width: 100%;
  object-fit:cover;
  border-radius: 10px;
  margin: auto; */
}

.tarjeta--filosofia-calidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0px -2px 36px -16px #135D87;
  /* box-shadow: 0px -2px 36px -16px $color-celeste; */
  align-items: center;
}
.tarjeta--filosofia-calidad h2, .tarjeta--filosofia-calidad p {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  width: 100%;
  margin: 0.5rem;
}
.tarjeta--filosofia-calidad p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.tarjeta--filosofia-calidad .tarjeta--filosofia__item {
  float: none;
  width: 10rem;
  box-sizing: border-box;
  /* font-size: 1rem; */
}
.tarjeta--filosofia-calidad .tarjeta--filosofia__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  /* width: 100%;
  object-fit:cover;
  border-radius: 10px; */
}
.tarjeta--filosofia-calidad .tarjeta--filosofia__item figcaption {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-family: 'Barlow', sans-serif;
  font-size: 1rem; */
}

.productos__item {
  width: 20rem;
  height: auto;
  box-sizing: border-box;
  margin: 1rem;
}
.productos__item:hover {
  /* transform: scale(1.2,1.2); */
  /* transition: transform 1s; */
  /* transition: all 1s */
  /* transform: rotate(45deg); */
}
.productos__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
  /* width: 100%;
  object-fit:cover;
  border-radius: 10px; */
}
.productos__item figcaption {
  text-align: center;
  align-content: center;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  /* font-family: 'Barlow', sans-serif;
  font-size: 1rem; */
  background-color: #135D87;
  color: #E6E6E6;
  height: 2.5rem;
  border-radius: 0px 5px 0px 5px;
}

/* @import "../utilities/mixins"; */
.contacto__formulario {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.contacto__formulario h3 {
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  /* font-size: 1.5rem; */
  width: 90%;
}
.contacto__formulario label, .contacto__formulario textarea, .contacto__formulario input {
  display: block;
  margin: 0.2rem auto;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  /* font-family: 'Barlow', sans-serif; */
  /* font-size: 1rem; */
  align-items: center;
}
.contacto__formulario input {
  border: none;
  border-bottom: 1px solid #135D87;
}
.contacto__formulario input:focus {
  outline: none;
}
.contacto__formulario textarea {
  border: none;
  border-bottom: 1px solid #135D87;
}
.contacto__formulario textarea:focus {
  outline: none;
}
.contacto__formulario button {
  display: inline;
  border-radius: 8px;
  width: 100px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: #135D87;
  color: #E6E6E6;
}

.contacto__mapa {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contacto__mapa h3 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  /* font-size: 1.5rem; */
}
.contacto__mapa iframe {
  margin: 0.5rem auto;
  /* @include fuente-texto(1rem,bold); */
  /* font-size: 1rem; */
  width: 90%;
}

/*UTILITIES*/
@media screen and (max-width: 427px) {
  header a {
    display: inline-block;
    width: 80px;
  }
  header .btn-toggle {
    display: inline;
    background-color: #135D87;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
  }
  header input:checked ~ nav {
    display: block;
    width: 100%;
    flex-wrap: wrap;
  }
  header .nav {
    display: none;
  }
  header .nav .nav__list {
    display: block;
  }
  header .nav .nav__list .list__item, header .nav nav .nav__list .list__item .item__dropdown .dropdown__item, header nav .nav .nav__list .list__item .item__dropdown .dropdown__item {
    padding: 0;
  }
  header .nav .nav__list .list__item a, header .nav nav .nav__list .list__item .item__dropdown .dropdown__item a, header nav .nav .nav__list .list__item .item__dropdown .dropdown__item a {
    text-align: left;
  }
  header .nav .nav__list .list__item .item__dropdown, header .nav nav .nav__list .list__item .item__dropdown .dropdown__item .item__dropdown, header nav .nav .nav__list .list__item .item__dropdown .dropdown__item .item__dropdown {
    visibility: hidden;
  }
  header .nav .nav__list .list__item input:checked ~ .item__dropdown {
    visibility: visible;
    display: block;
    width: 100%;
    flex-wrap: wrap;
    position: inherit;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 0 0;
    padding: 0.5rem;
  }
  header .nav .nav__list .list__item input:checked ~ .item__dropdown li {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 0;
  }
  header .nav .nav__list .list__item input:checked ~ .item__dropdown li a {
    display: block;
    width: 100%;
    color: #E6E6E6;
  }
  header .nav .nav__list:hover .item__dropdown {
    display: none;
  }
  .contenedor__tarjeta {
    display: flex;
    flex-direction: column;
  }
  .contenedor__tarjeta .item--textoDos {
    order: 1;
  }
  .contenedor__tarjeta .item--imagenDos {
    order: 2;
  }
  .contenedor__contacto {
    flex-direction: column;
    box-shadow: none;
  }
  .contenedor__contacto .contacto__formulario {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2rem;
    box-shadow: 0px -2px 36px -16px #135D87;
    /* box-shadow: 0px -2px 36px -16px $color-celeste; */
  }
  .contenedor__contacto .contacto__mapa {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px -2px 36px -16px #135D87;
    /* box-shadow: 0px -2px 36px -16px $color-celeste; */
  }
  .contenedor-footer {
    flex-direction: column;
  }
  .contenedor-footer .contenedor-footer__columna {
    flex: 1; /* Cada columna ocupa todo el ancho disponible */
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 1rem 1rem;
    text-align: center;
  }
  .contenedor-footer .columna__parrafo {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 427px) and (max-width: 767px) {
  .contenedor__tarjeta {
    display: flex;
    flex-direction: column;
  }
  .contenedor__tarjeta .item--textoDos {
    order: 1;
  }
  .contenedor__tarjeta .item--imagenDos {
    order: 2;
  }
  .contenedor__contacto {
    flex-direction: column;
    box-shadow: none;
  }
  .contenedor__contacto .contacto__formulario {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2rem;
    box-shadow: 0px -2px 36px -16px #135D87;
    /* box-shadow: 0px -2px 36px -16px var(--color-Celeste); */
  }
  .contenedor__contacto .contacto__mapa {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px -2px 36px -16px #135D87;
    /* box-shadow: 0px -2px 36px -16px var(--color-Celeste); */
  }
  .contenedor-footer {
    flex-direction: column;
  }
  .contenedor-footer .contenedor-footer__columna {
    border-bottom: 1px solid var(--color-gris-claro);
    padding-bottom: 1rem 1rem;
    text-align: center;
  }
  .contenedor-footer .columna__parrafo {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}
/* @keyframes parpaderar{
    0%{
        opacity: .0;
    }
    25%{
        opacity: .1;
        @include box-shadow(red);
    }
    50%{
        opacity: .2;
        @include box-shadow(blue);
    }
    75%{
        opacity: .3;
        @include box-shadow(green);
    }
    100%{
        opacity: .4;
        @include box-shadow(rgb(128, 0, 102));
    }
} */
/*HACE BALANCERAR EL ELEMENTO*/
.elemento-balancear {
  animation: animacion-balancear 1s ease-in-out infinite;
}

@keyframes animacion-balancear {
  0% {
    transform: translateZ(0) rotateZ(0deg);
  }
  /*  25% { transform: translateZ(50px) rotateZ(2.5deg); } */
  50% {
    transform: translateZ(50px) rotateZ(2.5deg);
  }
  /* 75% { transform: translateZ(50px) rotateZ(-2.5deg); }
  75% { transform: translateZ(50px) rotateZ(-5deg); } */
  100% {
    transform: translateZ(0) rotateZ(0deg);
  }
}
@keyframes animacion-aparecer {
  /* from{
      opacity: 0;
  }
  to{
      opacity: 1;
  } */
  /* 
      from { transform: translatez(-100%); background-color: black;}
      to { transform: translatez(0); background-color: red;} */
  from {
    transform: translatex(-100%);
    background-color: black;
  }
  to {
    transform: translatex(0%);
    background-color: red;
  }
}
.elemento-aparecer {
  animation: animacion-aparecer 1s ease-in-out forwards;
  /*  animation-name: animacion-aparecer;
   animation-fill-mode: both;
   animation-timeline: view() !important;
   animation-timing-function: linear !important; */
  /* animation-range-start: cover 0% !important;
  animation-range-end: cover 100% !important; */
}

/*# sourceMappingURL=style.css.map */
