@import "./variables";
/* @keyframes parpaderar{
    0%{
        opacity: .0;
    }
    25%{
        opacity: .1;
        @include box-shadow(red);
    }
    50%{
        opacity: .2;
        @include box-shadow(blue);
    }
    75%{
        opacity: .3;
        @include box-shadow(green);
    }
    100%{
        opacity: .4;
        @include box-shadow(rgb(128, 0, 102));
    }
} */


/*HACE BALANCERAR EL ELEMENTO*/
.elemento-balancear {
    animation: animacion-balancear 1s ease-in-out infinite;
}

@keyframes animacion-balancear {
    0% { transform: translateZ(0) rotateZ(0deg); }
   /*  25% { transform: translateZ(50px) rotateZ(2.5deg); } */
    50% { transform: translateZ(50px) rotateZ(2.5deg); }
    /* 75% { transform: translateZ(50px) rotateZ(-2.5deg); }
    75% { transform: translateZ(50px) rotateZ(-5deg); } */
    100% { transform: translateZ(0) rotateZ(0deg); }
}


@keyframes animacion-aparecer{
    /* from{
        opacity: 0;
    }
    to{
        opacity: 1;
    } */
/* 
    from { transform: translatez(-100%); background-color: black;}
    to { transform: translatez(0); background-color: red;} */
    
    from { transform: translatex(-100%); background-color: black;}
    to { transform: translatex(0%); background-color: red;}
}

.elemento-aparecer{
    animation: animacion-aparecer 1s ease-in-out forwards;
   /*  animation-name: animacion-aparecer;
    animation-fill-mode: both;
    animation-timeline: view() !important;
    animation-timing-function: linear !important; */
    /* animation-range-start: cover 0% !important;
    animation-range-end: cover 100% !important; */
}
