@import "./variables";


/*HACE BALANCERAR EL ELEMENTO*/
.elemento-balancear {
    animation: animacion-balancear 1s ease-in-out infinite;
   /*  background-color: black; */
}

@keyframes animacion-balancear {
    0% { transform: translateZ(0) rotateZ(0deg); }
    50% { transform: translateZ(50px) rotateZ(2.5deg); }
    100% { transform: translateZ(0) rotateZ(0deg); }
}


/* .contenedor .relleno{
    position: absolute;
    margin: auto;
    transition: relleno 1s ease-in;
    z-index: -1;
    width: 90%;
    background-color: white;
    animation-name: relleno-liquido;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;  
} */
@keyframes relleno-liquido{
    0%{
        height: 10%;
        width: 2%;
        top: 0;
        right: 50%;
    }
    50%{
        height: 50%;
        width: 25%;
        top: 0;
        right: 25%;    
    }
    100%{
        top: 0;
        right:0;
        height: 90%;
        width: 100%;
    }
}
