@import "../utilities/variables";

.descripcion-principal{
    p{
        @include fuente-texto(1rem,400);
       /*  font-size: 1rem;
        font-weight: 400; */
        text-align: center;
        width: 80%;
        margin: auto;
    }
}