@import "../utilities/variables";
/* @import "../utilities/mixins"; */

.contacto__formulario{
    display: flex;
    flex: 1;
    flex-direction: column;
    h3{
        display: block;
        @include fuente-texto(1.5rem,bold);
        text-align: center;
        /* font-size: 1.5rem; */
        width: 90%;
    }
    label{
        display: block;
        margin: .2rem auto;
        @include fuente-texto(1rem,400);
        width: 90%;
        /* font-family: 'Barlow', sans-serif; */
        /* font-size: 1rem; */
        align-items: center;
    }
    input{
        @extend label;
        border:none;
        border-bottom:1px solid $color-celeste;
        &:focus{
            outline: none;
        }
    }
    textarea{
        @extend label;
        border:none;
        border-bottom:1px solid $color-celeste;
        &:focus{
            outline: none;
        }
    }
    button{
        display: inline;
        border-radius: 8px;
        width: 100px;
        margin: .5rem auto;
        padding: .5rem;
        background-color: $color-celeste;
        color: $colorgris-claro;
    
    }

}
.contacto__mapa{
    display: flex;
    flex-direction: column;
    width: 50%;
    h3{
        @include fuente-texto(1.5rem,bold);
        text-align: center;
        /* font-size: 1.5rem; */
    }
    iframe{
        margin: .5rem auto;
        /* @include fuente-texto(1rem,bold); */
        /* font-size: 1rem; */
        width: 90%;
    }
}