@import "../utilities/variables";
/*-COMPONENTS__Productos: Item del Contenedor Galeria productos*/
.productos__item{
    width: 20rem;
    height: auto;
    box-sizing: border-box;
    margin: 1rem;
    img{
        @include estilo-imagen;
        &:hover{
            transform: scale(1.2,1.2);
            transition: transform 1s;
            transition: all 1s
        }
    }
    figcaption{
        text-align:center;
        align-content: center;
        @include fuente-texto(1rem,400);
        background-color: $color-celeste;
        color: $colorgris-claro;
        height: 2.5rem;
        border-radius: 0px 5px 0px 5px;
    }
}