@import "../utilities/variables";
/* @import "../utilities/mixins"; */

    .item--textoDos{
        grid-column: 2/3;
        grid-row: 1/4; 
        padding: 0.5rem;
        margin: auto;
        text-align: justify;
        @include fuente-texto(1rem,400);
    }
    .item--imagenDos{
        grid-column: 1/2;
        grid-row: 1/4;
        margin: auto;
        width: 100%;
        text-align: left;
        img{
            @include estilo-imagen;
            /* width: 100%;
            object-fit:cover;
            border-radius: 10px;
            margin: auto; */
        }
    }